.header {
    height: 41px;
    background: #272727;
    width: 999px;
    margin: auto;
    color: #777777;
}

.header a {
    text-decoration: none;
    color: #868686;
    font-size: 14px;
    font-family: arial;
}

.header a:hover {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.logo {
    float: left;
    margin: 4px 6px 0 6px;
}

.siteplo {
    float: left;
    margin: 10px 69px 0 4px;
}

.name {
    float: right;
    margin: 12px 10px 0 0;
}

.bottom {
    float: right;
    margin: 14px 10px 0 0;

}

.sub_menu {
    float: left;
    margin: 11px 0 0 20px;
}

.header ul {
    width: 85px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.header li ul {
    position: absolute;
    display: none;
    padding-top: 4px;

}

.header ul li ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #868686;

    background: #272727;
    border-bottom: none;
}

.menu li:hover ul {
    display: block;
}

.menu2 li:hover ul {
    display: block;
}

.menu {
    float: left;

}

.sub_menu1 {
    margin: 14px 0 0 30px;;

}

.menu2 {
    float: left;

}

.sub_menu2 {
    margin: 14px 0 0 30px;
}

.bg13 {
    background: #cccccc;
    width: 14px;
    height: 15px;
    margin: 15px 0 0 0;
    padding-left: 1px;
    float: left;
    border-radius: 2px;
    font-size: 13px;
}

.arrow {
    padding-top: 11px;
    float: left;
}

.bg_13 {
    background: #666666;
    width: 14px;
    height: 15px;
    margin: 15px 0 0 5px;
    padding-left: 1px;
    float: left;
    border-radius: 2px;
    font-size: 13px;
    color: #282828;
}

.arrow2 {
    padding-top: 11px;
    float: left;

}

.sub {
    float: left;
    margin: 13px 0 0 20px;
}

.wrap {
    background: #ebebeb;
    width: 999px;
    margin: auto;
}

.left_menu {
    display: block;
    font-family: arial;
    font-size: 13px;
    font-weight: bolder;
    color: #666666;
    background: #f2f2f2;
    border-radius: 10px 10px 0 0;
    margin: 14px 0 0 14px;
    width: 120px;
    height: 55px;
    list-style: none;
}

.left_panel a {
    text-decoration: none;
    color: #6f6f6f;
}

.left_panel a:hover {
    text-decoration: none;
}

.left_menu3 a {
    color: #2c3334;
}

.left_menu3 a:hover {
    color: #76b310;
}

.accordion {
    padding-top: 18px;
    padding-left: 2px;
}

.im {
    padding-top: 19px;
    position: absolute;
    margin-left: -25px;

}

.accordion ul {
    background: #f2f2f2;
    margin-top: 21px;
    width: 120px;
    margin-left: -42px;
    list-style: none;

}

.accordion ul li a {
    background: #f2f2f2;
    line-height: 25px;
    margin-left: -20px;

}

.accordion  a:hover {
    text-decoration: none;
    color: #76b310;

}

.accordion3  a:hover {
    text-decoration: none;
    color: #76b310;

}

.left_menu2 {
    display: block;
    font-family: arial;
    font-size: 13px;
    font-weight: bolder;
    color: #666666;
    background: #f2f2f2;
    margin: 76px 0 0 14px;
    width: 120px;
    height: 55px;
    list-style: none;
}

.left_menu3 {
    display: block;
    font-family: arial;
    font-size: 13px;
    background: #fafafa;
    margin: 76px 0 0 14px;
    width: 120px;
    height: 44px;
    font-weight: bold;
    list-style: none;
}

.accordion2 {
    padding-top: 14px;
    margin-left: -25px;
    color: #2c3334;
    list-style: none;
}

.accordion2 ul {
    background: #f2f2f2;
    margin-top: 14px;
    width: 120px;
    margin-left: -15px;
    list-style: none;

}

.accordion2 ul li a {
    background: #f2f2f2;
    line-height: 25px;
    margin-left: -20px;

}

.accordion2  a:hover {
    text-decoration: none;
    color: #76b310;

}

.left_menu4 {
    display: block;
    font-family: arial;
    font-size: 13px;
    font-weight: bolder;
    color: #666666;
    background: #f2f2f2;
    margin: 76px 0 0 14px;
    width: 120px;
    height: 55px;
    list-style: none;

}

.accordion3 {
    float: left;
    padding-top: 25px;
    margin-left: 2px;
}

.accordion3 ul {
    background: #f2f2f2;
    margin-top: 14px;
    width: 120px;
    margin-left: -42px;
    list-style: none;

}

.accordion3 ul li a {
    background: #f2f2f2;
    line-height: 25px;
    margin-left: -20px;

}

.accordion3  a:hover {
    text-decoration: none;
    color: #76b310;

}

.im3 {
    padding-top: 101px;
    position: absolute;
    padding-left: 27px;
}

.b13 {
    background: #76b310;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 89px;
    margin-top: -105px;
    font-size: 11px;
    border-radius: 5px;
    color: #ffffff;
    padding-left: 2px;
    padding-top: 2px;
}
