@import "reset.css";
html{
    height: 100%;
}
body{
    background:#d8d8d8  ;
    font-family: arial;
    color:#4f5259 ;
    min-height: 100%;
    padding-top: 25px;
    font-size: 14px;
}
p{
    font-size: 14px;
    color:#4f5259 ;
}
a{
    text-decoration: none;
    outline: none;
    color:#868686 ;
    font-size: 14px;
}

a:hover{
    text-decoration: underline;
    outline: none;
    color:#ffffff ;
    font-size: 14px;
}
code{
    font-family: "Courier New";
    color: #000;
}
blockquote{
    font-style: italic;
    background: #ccc;
    margin-left: 20px;
}
#wrap{
    width: 960px;
    background: #ededed;
    margin: 0,auto;
}
#header{
    height: 205px;
}
#header_top{
    height: 64px;
    background: #1a1e27;
}
#header_bottom{
height:141px ;
}
#header ul{
 float: left;
    margin: 23px 244px 0 34px;
}
#header ul li{
 float: left;
 padding-left: 10px;
}
#header ul li a{
height: 41px;
display: block;
    
}
#header ul li a:hover{
    height: 41px;
    display: block;
text-decoration: none;

}
#search{
float: right;
 margin: 14px 32px 0 0;
 width: 191px;
 height: 35px;
background-image:url("images/");

}
.search_text{
width: 137px;
    padding: 6px 0 0 25px;
  background: none;
  border: none;
}
.go{
    width: 15px;
    padding: 6px 0 0 25px;
    background: none;
    border: none;
    cursor: pointer;
}
#rss{
  margin: 24px 15px 0 0;
 float: right;
}
#rss span{
  margin-right:7px ;
  position: relative;
    top: 5px;
}
