.menu{
    background:#1C1C1C;
    height: 40px;
    color: #B5B5B5;
    width: 700px;
    margin: auto;
    line-height: 40px;

}
.home{
float: left;
    display: inline-block;



}
.siteplo{
    display: inline-block;
 float: left;
}
.update{
    float: left;
    display: inline-block;
padding-left: 500px;


}

