
#header{
 height: 41px;
    background: #272727;
    width: 999px;
    margin: auto;
    color: #777777;
}
a {
    text-decoration: none;
    color:#868686 ;
    font-size: 14px;
    font-family: arial;
}
a:hover{
    text-decoration: underline;
    color:#ffffff ;
    font-size: 14px;
}
#logo{
float: left;
    margin: 4px 6px 0 6px;
}
#siteplo{
 float: left;
  margin: 10px 0 0 4px;
}


#name{
float: right;
margin: 12px 10px 0 0;
}
#bottom{
 float: right;
margin: 14px 10px 0 0;

}
.sub_menu{
float: left;
margin: 11px 0 0 30px;
}
ul {
    width: 120px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

li ul {
    position: absolute;
    display: none;
padding-top: 4px;

}
ul li ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color:#868686 ;

    background: #272727;
    border-bottom: none;
}




li:hover ul {
    display: block;
}
.menu{
 float: left;

}
.sub_menu2{
    float: left;
    margin: 14px 0 0 30px;
}
.sub_menu3{
    float: left;
    margin: 0 0 70px 30px;
}








